
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
body {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 40px 1fr 4fr 1fr 40px;
  grid-template-rows: 60px 150px 2fr 1fr 40px;
  font-family: 'Bebas Neue', cursive;
}

nav {
  grid-column: 1 / span 5;
  color:rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px 40px;
  font-size: 24px;
  border: black 2px;
  border-style: dotted none solid none;
}


.navButton {
  padding: 0px 0px 0px 30px; 
  color: black; 
  text-decoration: unset;
}
.navButton:hover{
  font-size: larger;
}


header {
  grid-row: 2;
  grid-column: 2;
  color: rgb(0, 0, 0);
  text-align: left
}

.questionNumber{
  grid-column: 2;
  grid-row: 3;
  justify-self: left;
  color: black;
  font-size: smaller;

}
.gameScreen{
  min-width: 400px;
  min-height: 400px;
  grid-column: 3;
  grid-row: 3;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  font-family: 'Inconsolata', monosp;
  border: black double 5px;
  border-radius: 5px;
}

.scene {
  background-color: rgb(255, 191, 95);
  grid-column: 1 / span 5;
  grid-row: 1 / span 5;
}


.textBoxTop{
  grid-column: 1 /span 4;
  grid-row:  1 ;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.optionBox{
  background-color: lavender;
  height: 30px;
  margin: 5px;
  padding: 12px 15px 0px 12px;
  border: black inset 2px;
  border-radius: 25px

}

.optionBox:hover {
  background-color: rgb(206, 183, 248);
}

.textBoxBottom{
  background-color: rgb(255, 207, 189);
  grid-column: 1 /span 5;
  grid-row:  3;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  border: rgb(123, 123, 123) solid 2px;
  border-radius: 25px;
  align-items: center;
}

.screen{
  background-color:rgb(182, 240, 140);
  grid-column: 1/span 5;
  grid-row: 2/ span 3;
  margin: 10px;
  border-radius: 0 0 25px 25px
}

.backspace {
  background-color: rgb(169, 169, 169);
  color: white;
  grid-column: 5;
  grid-row:  1;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  border: rgb(123, 123, 123) solid 2px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
}
.backspace:hover{
  background-color: tomato;
}

.instructions{
  margin: 10px;
}

.credits {
  grid-row: 2;
  grid-column: 4;
  color: rgb(0, 0, 0);
  text-align: Right;
  padding-top: 20px;
}
  


.pressPlay{
  grid-row: 1 / span 2;
  grid-column: 1 / span 5;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items:  center;
}

.classic{
  grid-row: 3;
  grid-column: 1 / span 3;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  font-size: x-large;
}

.challenge{
  grid-row: 3;
  grid-column: 3 / span 5;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:  flex-start;
  font-size: x-large;
}

.challenge:hover{
  text-decoration: underline;
}

.classic:hover{
  text-decoration: underline;
  
}

.end{
  grid-row: 1 / span 3;
  grid-column: 1 / span 5;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:  center;
}
